* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #652672;

}


#topOfPage {
    background-color: #652672;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    width: 100%;
    box-sizing: border-box;
    border: solid #eb6365;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

li a {
    background-color: #652672;
    position: relative;
    color: white;
    text-decoration: none;
}

li a::after {
    content: " ";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 12%;
    bottom: -24%;
    left: 0;
    background-color: #eb6365;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    text-decoration: none;
}

li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#icon {
    width: 130px;
    height: auto;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    padding-right: 2px;
    padding-left: 2px;

}


.menu li .material-symbols-outlined {
    color: white;
    padding: 3px 0 0 0;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.menu>li a {
    background-color: #652672;
    position: relative;
    color: white;
    text-decoration: none;
}

.menu>li a:hover {
    color: #eb6365;
}



.menu>li a::after {
    content: " ";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 12%;
    bottom: -24%;
    left: 0;
    background-color: #eb6365;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    text-decoration: none;
}

.menu>li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    text-decoration: none;
}

.menu li .span::after {
    content: " ";
}

.dropbtn {
    background-color: #eb6365;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #652672;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#userEmailDisplay {
    font-size: 16px;
    color: #333;
    font-family: 'Arial', sans-serif;
    text-decoration: underline;
}

/*email style*/
.email-container {
    background-color: #652672;
    padding: 10px;
    border: 1px solid #eb6365;
    border-radius: 5px;
}

#userEmailDisplay {
    font-size: 16px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

/*icon-style*/
.fas.fa-user {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.icon-user {
    position: relative;
    display: inline-block;
}

.icon-user-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: -10px;
}

.icon-user-content a {
    background-color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.icon-user-content a:hover {
    background-color: #652672;
}

.icon-user:hover .icon-user-content {
    display: block;
}

.cart-number {
    color: #fff;
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #652672;
    text-align: center;
    margin: 0;
    padding-top: 50px;


}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #652672;
    text-align: center;



}

.background {
    size-adjust: 40px;
}

.dog-image {
    text-align: end;
    padding-top: 0%;
    filter: drop-shadow(0 -6mm 4mm rgb(0, 0, 0));

}

.cat-image {

    padding-top: 0%;
    filter: drop-shadow(0 -6mm 4mm rgb(0, 0, 0));


}

/*paraghraph border*/
.bordercontainer {
    display: flex;
    align-content: center;
    justify-content: center;

}



.border {

    width: 1200px;
    height: 400px;
    background-color: #E1DEE6;
    border-radius: 20%;
    color: #652672;
    animation: mymove 3s infinite;
    text-align: center;
    margin-top: 4%;
    padding-bottom: 30px;
    place-items: center;



}

.border.h2 {
    text-align: center;
    width: 100%;
    color: #652672;
}

@keyframes mymove {
    50% {
        box-shadow: 10px 20px 30px #eb6365;
    }
}

/*readmore button*/
.button {
    background-color: #652672;
    border: solid #EB6365;
    border-radius: 30px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    opacity: 1
}


.dog-icon img {
    max-width: 100%;
    height: auto;
    width: 60px;
}

.dog-icon {
    order: 2;
    position: fixed;
    z-index: 99;
    bottom: 20px;
    left: 20px;
    /* no overlap */

}

@media(max-wdth: 767px) {
    .dog-image {
        width: 50%;
    }

    h1 {
        font-size: 50px;
    }
}

@media(max-wdth: 574px) {
    .dog-image {
        width: 25%;
    }

    h1 {
        font-size: 30px;
    }

}


/*our team cards*/

.profile-card {
    width: 300px;
    background-color: #E1DEE6;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 15px;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 70px;

}


.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid 2px #E1DEE6;
    filter: drop-shadow(0 0 12px rgb(0, 0, 0));
    background-size: cover;
}



.profile-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #652672;
    margin-bottom: 10px;
}

.profile-card p {
    font-size: 16px;
    color: #652672;


}

.profile-card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.team-container {

    padding-left: 50%;
    margin-left: 30%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;

}

.ourteam h2 {

    text-align: center;
    color: #E1DEE6;

}

.ourteam h2::before {
    position: absolute;
    background-color: #eb6365;
    content: '';
    display: block;
    top: 0;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
    top: -7px;

}

.ourteam h2::after {
    background-color: #eb6365;
    content: '';
    display: block;
    position: absolute;
    right: -50%;
    bottom: 0;
    height: 3px;
    width: 75px;
    margin-bottom: 3px;
}


/*contact form*/
.container {
    width: 50%;
    border-radius: 30px;
    align-items: center;
}

form {

    display: grid;
    gap: 20px;

}

label {
    font-weight: bold;
    display: flex;
    padding-bottom: 0%;


}

input,
textarea {
    width: 1000px;
    width: 94%;
    padding: 7px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border-color: #E1DEE6;
}




input[type="submit"] {

    width: 1000px;
    width: 94%;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
    background: linear-gradient(45deg, #652672, #eb6365);


}

input[type="submit"]:hover {

    letter-spacing: 2px;
    opacity: .8;


}

.FormCont {
    width: 80%;
    display: flex;
    margin: auto;
}

.border-form {

    width: 100%;
    background-color: #E1DEE6;
    background-image: url('imagesN/background.png');
    background-size: cover;
    border-radius: 15%;
    color: #652672;
    margin-bottom: 100px;
    padding: 70px;
    padding-right: 30px;
    align-items: center;


}

.para {

    color: #652672;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;


}

/* FOOTER */

.footer {
    line-height: 1.5;
    background-color: #652672;
    margin-top: 120px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: solid #eb6365;
    border-radius: 10px;
}

.footercontainer {
    margin: auto;
    max-width: 1000px;
}

.footerrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer ul {
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 12px;

}

.footer-col {
    width: 25%;
    padding: 0px 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #eb6365;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 2px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
    text-decoration: none;
    position: relative;

}

.footer-col .social-links a i {
    position: absolute;
    top: 25%;
    left: 25%;
}


.footer-col .social-links a:hover {
    color: #652672;
    background-color: white;
}

/* responsive */
@media(max-width: 1170px) {

    #icon {
        width: 130px;
    }

    .dog-icon img {
        width: 70px;
    }

    .menu {
        gap: 14px;
    }

    .menu li a {
        font-size: 16px;
    }

    .footer-col h4 {
        font-size: 18px;
    }

    .footer-col ul li a {
        font-size: 16px;
    }

    .footer-col h4::before {
        width: 45px;
    }

}

@media(max-width: 900px) {

    #icon {
        width: 110px;
    }

    .dog-icon img {
        width: 65px;
    }

    .menu {
        gap: 13px;
    }

    .menu li a {
        font-size: 14px;
    }

    .footer-col h4 {
        font-size: 14px;
    }

    .footer-col ul li a {
        font-size: 13px;
    }

    .footer-col .social-links a {
        height: 30px;
        width: 30px;
    }

    .footer-col .social-links a i {
        font-size: 15px;
    }

    .footer-col h4::before {
        width: 43px;
    }

}

@media(max-width: 780px) {

    #icon {
        width: 90px;
    }

    .dog-icon img {
        width: 55px;
    }

    .menu {
        gap: 12px;
    }

    .menu li a {
        font-size: 14px;
    }

    .menu li .material-symbols-outlined {
        font-size: 19px;
    }

    .footer-col h4::before {
        width: 38px;
    }

}

@media screen and (max-width: 768px) {
    #topOfPage {
        padding: 1% 2%;
    }

    #icon {
        width: 95px;
    }

    .dog-icon img {
        width: 58px;
    }
}

@media(max-width: 767px) {

    #icon {
        width: 90px;
    }

    .dog-icon img {
        width: 55px;
    }

    .menu {
        gap: 11px;
    }

    .menu li a {
        font-size: 13px;
    }

    .menu li .material-symbols-outlined {
        font-size: 22px;
    }

    .footer-col h4 {
        font-size: 13px;
    }

    .footer-col ul li a {
        font-size: 12px;
    }

    .footer-col .social-links a i {
        font-size: 13px;
    }

    .footer-col .social-links a {
        height: 26px;
        width: 26px;
    }

    .footer-col h4::before {
        width: 36px;
    }

}

@media(max-width: 574px) {

    #icon {
        width: 80px;
    }

    .dog-icon img {
        width: 45px;
    }

    .menu {
        gap: 10px;
    }

    .menu li a {
        font-size: 11px;
    }

    .menu li .material-symbols-outlined {
        font-size: 19px;
    }


    .footer-col h4 {
        font-size: 12px;
    }

    .footer-col ul li a {
        font-size: 11px;
    }

    .footer-col .social-links a i {
        font-size: 11.5px;
    }

    .footer-col .social-links a {
        height: 23px;
        width: 23px;
    }

    .footer-col h4::before {
        width: 30px;
    }

    .footer-col {
        width: 20%;
    }
}

@media(max-width: 500px) {

    #icon {
        width: 77px;
    }

    .dog-icon img {
        width: 43px;
    }

    .menu {
        gap: 9px;
    }

    .menu li a {
        font-size: 11px;
    }

    .menu li .material-symbols-outlined {
        font-size: 19px;
    }


    .footer-col h4 {
        font-size: 11px;
    }

    .footer-col ul li a {
        font-size: 10px;
    }

    .footer-col .social-links a i {
        font-size: 11.5px;
    }

    .footer-col .social-links a {
        height: 23px;
        width: 23px;
    }


    .footer-col {
        width: 20%;
    }
}

@media(max-width: 415px) {

    #icon {
        width: 60px;
    }

    .dog-icon img {
        width: 35px;
    }

    .menu {
        gap: 7px;
    }

    .menu li a {
        font-size: 9px;
    }

    .menu li .material-symbols-outlined {
        font-size: 16px;
    }

    .dropbtn {
        padding: 0px;
    }

    .footer-col h4 {
        font-size: 9px;
    }

    .footer-col ul li a {
        font-size: 8px;
    }

    .footer-col .social-links a i {
        font-size: 11px;
    }

    .footer-col .social-links a {
        height: 22px;
        width: 22px;
    }
}